@import "compass";

body{
  background-image: url('http://i.imgur.com/gN4EQ3s.jpg');
  height: 100%;
}

/*************
 Simon Board Style
***************/
.simonSays{
  
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
  height: 500px;
  padding: 10px;
  background-color: #000;
  border-radius: 50%; 
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.buttons a{
  width:240px;    
  height: 240px;
  margin: 5px;
}

.innerCircle{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 240px;
  height: 250px;
  background-color: darken(white, 20%);
  border-radius: 50%;
  border: 10px solid darken(#777, 30%);
  font-family: 'Teko', sans-serif;
  font-weight: 700;
  font-style: bold;
  text-align: center;
  
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    
    linear-gradient(180deg, hsl(0,0%,78%)  0%, 
    hsl(0,0%,90%) 47%, 
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
}

.topCircle{
  background-color: black;
  margin-top: -1px;
  padding: 0 4px;
  font-size: 4em;
  color: white;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
  line-height: 0.6;
}

.pic img{
  margin-top: 15px;
  height:70px;
  margin-bottom: 0px;
}

.logo{
  position: relative;
  bottom: 0;
  padding-top: 0px;
  transform: translate(0%, 0%);
}

#registered{
  font-size: .6em;
  font-weight: 400;
  transform: translate(0%, -20%);
  margin-top: 20px;
}

.numBox{
  position: absolute;
  width: 105px;
  height: 55px;
  background-color: #000;
  transform: translate(-20%, 0%);
  border-radius: 2px;
  font-size: 3em;
  margin-top: 25px;
  margin-left: 80px;
  padding-top: 10px;
  padding-left: 10px;
  color: red;
  letter-spacing: 15px;
  text-align: right;
  font-family: 'Orbitron', sans-serif;
}
/*******
Simple Toggle from CSSFlow.com
******/

.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 56px;
  height: 20px;
  padding: 3px;
  background-color: #ccc;

  cursor: pointer;
  transform: rotate(270deg);
  margin-top: 40px;
  margin-left: 130px;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #eceeef;
  box-shadow: inset 0 1px 2px rgba(black, .12),
              inset 0 0 2px rgba(black, .15);

  &:before, &:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
  }

  &:before {
    content: attr(data-off);
    right: 11px;
    color: #aaa;
    text-shadow: 0 1px rgba(white, .5);
  }

  &:after {
    content: attr(data-on);
    left: 11px;
    color: white;
    text-shadow: 0 1px rgba(black, .2);
    opacity: 0;
  }

  .switch-input:checked ~ & {
    background: #47a8d8;
    box-shadow: inset 0 1px 2px rgba(black, .15),
                inset 0 0 3px rgba(black, .2);

    &:before { opacity: 0; }
    &:after { opacity: 1; }
  }
}

.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  background: black;
  
  box-shadow: 1px 1px 5px rgba(black, .2);

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px; 
    box-shadow: inset 0 1px rgba(black, .02);
  }

  .switch-input:checked ~ & {
    left: 40px;
    box-shadow: -1px 1px 5px rgba(black, .2);
  }
}

.switch-green > .switch-input:checked ~ .switch-label { background: #4fb845; };

/*************
 Simon buttons 
***************/


.green{
  z-index: 10;
  background-color: darken(green, 10%);
  background-image: url(http://www.transparenttextures.com/patterns/az-subtle.png);
  float: left;
  margin-left: 0;
  margin-right: auto;
  border-top-left-radius: 100%;
  &:focus{
    outline: 0;
    background-color: green;
  }
}

.red{
  background-color: darken(red, 10%);
  background-image: url(http://www.transparenttextures.com/patterns/az-subtle.png);
  float: right;
  margin-right: 0;
  margin-left: auto;
  border-top-right-radius: 100%;
  &:focus{
    outline: 0;
    background-color: red;
  }
}

.yellow{
  background-color: darken(yellow, 10%);
  background-image: url(http://www.transparenttextures.com/patterns/az-subtle.png);
  float: left;
  margin-left: 0;
  margin-right: auto;
  border-bottom-left-radius: 100%;
  &:focus{
    outline: 0; 
    background-color: yellow;
  }
}

.blue{
  background-color: darken(blue, 10%);
  background-image: url(http://www.transparenttextures.com/patterns/az-subtle.png);
  float: right;
  margin-right: 0;
  margin-left: auto;
  border-bottom-right-radius: 100%;
  &:focus{
     outline: 0;
     background-color: blue;
  }
}


.switch-handle{
background-color: rgb(181,189,200);
@include filter-gradient(#b5bdc8, #28343b, vertical);
@include background-image(linear-gradient(top, rgba(181,189,200,1) 0%,rgba(40,52,59,1) 30%,rgba(40,52,59,1) 48%,rgba(130,140,149,1) 67%,rgba(130,140,149,1) 70%,rgba(130,140,149,1) 70%,rgba(130,140,149,1) 76%,rgba(40,52,59,1) 100%));
}
